.devise_wrapper
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .devise_form
      .field
        %br/
        = f.text_field :name,class: "devise_form_contents", autofocus: true, autocomplete: "name",placeholder: "名前を入力してください"
      .field
        %br/
        = f.email_field :email,class: "devise_form_contents", autocomplete: "off",placeholder: "メールアドレスを入力してください"
      .field
        %br/
        = f.password_field :password,class: "devise_form_contents", autocomplete: "off",placeholder: "パスワードを入力してください"
      .field
        %br/
        = f.password_field :password_confirmation,class: "devise_form_contents", autocomplete: "off",placeholder: "もう一度パスワードを入力してください"
      .user-name.col-md-12
        %br/
        = f.text_area :profile,class: "devise_form_contents profile", placeholder: "ユーザープロフィールを入力できます", size:"30×4"
      .user-image.col-md-2
        %img{ style: "" }
        = f.label :avatar,class: "devise_form_file_label" do
          = fa_icon 'file-image-o', class: 'fa fa-image'
          %span ユーザーアイコンを設定できます
          = f.file_field :avatar,class: "devise_form_file"
      .actions
        = f.submit "新規登録する",class: "deivse_form_submit"
