.header_inner
  %a.logo{href: "/"}
    %img.service_logo.f_left{alt: "クックパッド", height: "54", src: "https://assets.cpcdn.com/assets/global/logo/logo_header@2x.png?aa7929f030ee851c409e8fc66ff4dd7675660eba45f89526bc16d1b6c3bad72b", width: "264"}

  .search_form_wrapper
    .keyword_input
      = form_tag "/search/", method: :get do
        = fa_icon 'search', class: 'search_icon'
        = text_field_tag :keyword,"",class: "search-field global_search_keyword",placeholder: "料理名・食材名"
        = submit_tag "レシピ検索", id: "submit_button", class: "button min global_search_submit_btn"

    %ul.keyword_list.clearfix
      %li.up1 ゴーヤチャンプル
      %li.up2 人参
      %li.up3 豚キムチ
      %li.up4 きゅうり
      %li.up5 ガム
      %li
        %img{alt: "もっと見る", src: "https://assets.cpcdn.com/assets/icon/trend_keyword_list_arrow.png?51af8bd0ee2dcaef08db5b1cb9615cc1941c74a4a48e3115cd50fb613ac9d074"}


  %ul.my_menu
    %li.my_folder
      = link_to myfolders_path, class: "my_folder_button" do
        %img{alt: "Icon service menu myfolder@2x", height: "36", src: "https://assets.cpcdn.com/assets/global/icon_service_menu_myfolder@2x.png?28b04d7b1ed2c6ceffd67cf6504e3367f4d533545079d5ec8ea182bc6242c01c", width: "36", class: "my_folder_img"}
        %span MYフォルダ
    %li
      = link_to new_recipe_path, class: "btn-new-recipe" do
        %i.fa.fa-edit
        レシピを書く
      %span.button.post_recipe.min


