#side_banner_wrapper
  #new_next_tieup_wrapper
    .nt_content_title
      毎週更新！おすすめ特集
      %span.badge_pr 広告
      .link_to_list
        一覧はこちら
    .tieup_list
      .tieup_list_holder
        %div
          %ul
            %li.clearfix
              .left_col
                .head_text
                  簡単！絶品♪レシピいっぱい
              .right_col
                = fa_icon 'arrow-circle-right',class: "arrow_right_icon"
        %div
          %ul
            %li.clearfix
              .left_col
                .head_text
                  簡単！これ一つで満足ランチ
              .right_col
                = fa_icon 'arrow-circle-right',class: "arrow_right_icon"
        %div
          %ul
            %li.clearfix
              .left_col
                .head_text
                  旬の果物で♪カルピスレシピ
              .right_col
                = fa_icon 'arrow-circle-right',class: "arrow_right_icon"
        %div
          %ul
            %li.clearfix
              .left_col
                .head_text
                  ビール美味しい♪簡単つまみ
              .right_col
                = fa_icon 'arrow-circle-right',class: "arrow_right_icon"
        %div
          %ul
            %li.clearfix
              .left_col
                .head_text
                  暑い日に◎！簡単・旬レシピ
              .right_col
                = fa_icon 'arrow-circle-right',class: "arrow_right_icon"
        %div
          %ul
            %li.clearfix
              .left_col
                .head_text
                  夏バテに◎！栄養満点レシピ
              .right_col
                = fa_icon 'arrow-circle-right',class: "arrow_right_icon"
        %div
          %ul
            %li.clearfix
              .left_col
                .head_text
                  火を使わない！超ラクな一品
              .right_col
                = fa_icon 'arrow-circle-right',class: "arrow_right_icon"
      #tieup_text_and_image
        #tieup_text_and_image-0
          .ad_image_and_text
            %ul
              %li.clearfix
                .left_col
                  = image_tag 'ad_sea-chicken.jpg',class: "image_of_add"
                  .title_image_and_text
                    .title_text
                      ラクうま！シーチキン
                  .description_image_and_text
                    %p
                      暑い日は簡単シーチキンで！夏バテ気味でも食欲が出る、おいしいレシピ紹介中
                .right_arrow
                  = fa_icon 'arrow-circle-right',class: "arrow_right_icon"
      .link_to_event
        .link_to_event_text
          →もっと見る
