#top-wrapper
  #wrapper
    #container
      #contents
        #main
          #myfolder_wrapper.clearfix
            #myfolder_header
              .top_link
                = fa_icon 'search'
                - @keywords.each do |keyword|
                  %span.keyword
                    = keyword
                %span.keyword_recipe のレシピ
                %span.recipe_count
                  = "#{@recipes.count}品"
            #myfolder_left
              #myfolder_left_container
                %h2.title_row.refine
                  = fa_icon 'filter'
                  レシピを絞り込む
                .search_menu_tsukurepo_count.search_section
                  .title_row.filter_search.search_menu_sort
                    つくれぽ数
                  %ul.facet.active.clearfix
                    %li
                      =link_to '10人以上','#'
                    %li
                      =link_to '100人以上','#'
                    %li
                      =link_to '1000人以上','#'
            #myfolder_right
              .tab_button
                %ul.switch
                  %li.order_date.selected
                    %span 新着順
                  %li.popularity
                    %span 人気順
                .paging_myfolder
                  %span
                    1 / 1
              #myfolder_recipes
                - @recipes.each do |recipe|
                  .recipe_preview
                    .recipe_image
                      %a
                        レシピ画像イメージレシピ画像イメージレシピ画像イメージ
                    .recipe_text
                      %span.title
                        = link_to "#{recipe.title}",recipe_path(id:recipe.id),class: "recipe_title"
                      .myfolder
                        = render "myfolders/myfolder-icon", recipe: recipe
                      .recipe_description
                        = recipe.catch_copy
                      .recipe_ingredients
                        %span 材料：
                        - recipe.ingredients.each do |ingredient|
                          = ingredient.name
                    .clear_both
        #side
        .clear_both
