#kitchen_container.kitchen_recipe_container
  #two_contents_wrapper.clearfix
    #kitchen_side
      .kitchen_side_wrapper.recipe_category
        %h3.content_title
          カテゴリ
        %ul
          %li.selected
            =link_to 'すべて','#'
            %span.item_count
              (50)
          %li
            %span.category_name
              = link_to 'つくれぽ10件','#'
            %span.item_count
              (10)
          %li
            %span.category_name
              = link_to 'つくれぽ100件','#'
            %span.item_count
              (1)
      .kitchen_side_wrapper.archive
        %h3.content_title
          アーカイブ
        %ul
          %li.selected
            =link_to 'すべて','#'
            %span.item_count
              (50)
          %li
            %span.category_name
              = link_to '2018年','#'
            %span.item_count
              (30)
          %li
            %span.category_name
              = link_to '2017年','#'
            %span.item_count
              (20)
    #kitchen_main
      .recipe_list_header
        = render "users/kitchen/search-box"
        .separate_right
          .paging-top
            %span
              1/100 ページ
            = link_to '次へ »', '#'
      .recipe_list
        - @recipes.each do |recipe|
          .recipe_preview
            .recipe_image
              = image_tag recipe.image.to_s
            .recipe_text.clearfix
              %span.title
                = link_to "#{recipe.title}",'#',class: "recipe_title"
              .myfolder
                = fa_icon 'plus-circle'
              .recipe_description
                = recipe.catch_copy
              .recipe_ingredients
                %span 材料：
                - recipe.ingredients.each do |ingredient|
                  = ingredient.name
