#kitchen_container
  .two_columns_wrapper
    #recipe_container.container_inner
      .recipe_contents_images
        .title_row
          レシピ
          %span
            (100品)
          .link_to_all.right
            = link_to 'レシピ一覧 »','#'
        .main_image
          %a
        .sub_images
          .sub_image
            %a
          .sub_image
            %a
          .sub_image
            %a
          .sub_image
            %a
      = render "users/kitchen/search-box"
    #activity_container.container_inner
      .title_row
        更新情報
      %ul.activities
        %li
          .activity_date
            2018/08/06
          .activity_text
            レシピを公開しました
            %br
            = link_to '母親の味♪おかひじきのマヨ…','#',class: "recipe_title"
        %li
          .activity_date
            2018/08/05
          .activity_text
            つくれぽを送りました
            %br
            = link_to 'さっぱり茄子とししとうの焼…','#',class: "recipe_title"
        %li
          .activity_date
            2018/08/04
          .activity_text
            レシピを公開しました
            %br
            = link_to '冷凍グレープフルーツサワー…','#',class: "recipe_title"
        %li
          .activity_date
            2018/08/04
          .activity_text
            つくれぽを送りました
            %br
            = link_to 'イマイチそーなカツオのたた…','#',class: "recipe_title"
        %li
          .activity_date
            2018/08/03
          .activity_text
            ごはん日記を投稿しました
            %br
            = link_to '☼焼きサバと野菜の甘酢炒め','#'
  #category_container.container_inner
    .title_row
      レシピカテゴリ
    %ul.recipe_categories.clearfix
      %li
        %a.category_image
          %img
        = link_to '★つくれぽ100件', '#'
        .recipe_count
          5品
      %li
        %a.category_image
          %img
        = link_to '肉祭り', '#'
        .recipe_count
          7品
      %li
        %a.category_image
          %img
        = link_to 'つくれぽ10件', '#'
        .recipe_count
          15品
      %li
        %a.category_image
          %img
        = link_to '季節の料理', '#'
        .recipe_count
          3品
      %li
        %a.category_image
          %img
        = link_to 'ご馳走', '#'
        .recipe_count
          4品
  #tsukurepo_container.container_inner
    .title_row
      つくれぽ
      %span
        (70件)
      .link_to_all.right
        = link_to 'つくれぽ一覧 »','#'
    .tsukurepo_images
      .tsukurepo_image
      .tsukurepo_image
      .tsukurepo_image
      .tsukurepo_image
      .tsukurepo_image
      .tsukurepo_image
      .tsukurepo_image
      .tsukurepo_image
  #diary_container.container_inner
    .title_row
      ごはん日記
      .link_to_all.right
        = link_to 'ごはん日記一覧 »','#'
    .diary_title
      = link_to '☼焼きサバと野菜の甘酢炒め'
      %span
        2018/08/05
  #profile_container.box.container_inner
    .user_info
      .user_icon
        %img
      .user_name
        = @user.name
        のプロフィール
    .profile_text
      = @user.profile
