#kitchen_container.kitchen_recipe_container
  #two_contents_wrapper.clearfix
    #kitchen_side
      .kitchen_side_wrapper.archive
        %h3.content_title
          アーカイブ
        %ul
          %li.selected
            =link_to 'すべて','#'
            %span.item_count
              (50)
          %li
            %span.category_name
              = link_to '2018年','#'
            %span.item_count
              (30)
          %li
            %span.category_name
              = link_to '2017年','#'
            %span.item_count
              (20)
    #kitchen_main
      .list_header
      .kondate_list
        - @kondates.each do |kondate|
          .kondate
            .image
              = link_to '#' do
                = image_tag kondate.image.to_s,class: "image_wh_150x150"
            .infos
              .title
                = link_to "#{kondate.title}",kondate_path(id: kondate.id)
                %span.kondate_recipe_count
                  (#{kondate.recipes.count}品)
                = link_to "[×]", kondate_path(kondate.id), method: :delete,class: "kondate_delete_btn", data: {confirm: 'この献立を削除してよろしいですか?'}
              .kondate_description
                = kondate.point
              %ul.kondate_recipes
                - kondate.recipes.each_with_index do |recipe,i|
                  %li
                    - if i == 0
                      %span.kondate_status_icon 主
                    - else
                      %span.kondate_status_icon 副
                    = link_to "#{recipe.title}",recipe_path(id:recipe.id),class: "recipe_title"
      = paginate @kondates
    .clear_both
