#top-wrapper
  #wrapper
    #container
      #contents.clearfix
        #main
          = render "users/kitchen/header"
          .kitchen_navi
            %ul.kitchen_navi_list
              %li.kitchen_navi_top.selected
                = link_to 'トップ', user_path
              %li.kitchen_navi_recipe
                = link_to 'レシピ', "/recipes/list/#{@user.id}"
              %li.kitchen_navi_tsukurepo
                %a
                  つくれぽ
              %li.kitchen_navi_kondate
                = link_to '献立', "/kondates/list/#{@user.id}"
              %li.kitchen_navi_blog
                = link_to do
                  = fa_icon 'link', text: "ブログ"
              %li.kitchen_navi_diary
                = link_to 'ごはん日記', "/diaries"
          = render "users/kitchen/contents-top"

        = render "shares/sidebar"
