- if current_user
  - if recipe.register_to_myfolder?(current_user)
    - @myfolder = recipe.myfolders.find_by(user_id: current_user.id)
    = form_for recipe.myfolders.find_by(user_id: current_user.id), method: :delete, remote: true do |f|
      = hidden_field_tag :myfolder_id, @myfolder.id
      = button_tag class: "myfolder_btn unregister" do
        = fa_icon 'minus-circle',class: "myfolder_icon"
  - else
    = form_for recipe.myfolders.build,remote: true do |f|
      = hidden_field_tag :recipe_id, recipe.id
      = button_tag class: "myfolder_btn register" do
        = fa_icon 'plus-circle',class: "myfolder_icon"
