#top-wrapper
  #wrapper
    #container
      #contents
        #main
          #myfolder_wrapper.clearfix
            #myfolder_header
              .top_link
                = link_to myfolders_path do
                  = fa_icon 'folder-open'
                  %span MYフォルダ
              .search_box.description
                = form_tag "/myfolders/", method: :get do
                  = fa_icon 'search', class: 'search_icon'
                  = text_field_tag :keyword,"",class: "recipe_search_keyword", placeholder: "MYフォルダ内を検索"
                  = submit_tag "レシピ検索", id: "#btn_myfolder_search",class: "search_submit_button small"
            #myfolder_left
              #myfolder_left_container
                .navigation
                  .title
                    レシピ保存数
                  #indicator_navi
                    #indicator_wrapper
                      #indicator_used{style:"width:5%"}
                      #indicator_unused{style:"width:95%"}
                    #percentage
                      %span.used_amount
                        = Myfolder.where(user_id: current_user.id).count()
                      %span.slash
                        \/
                      %span.total_amount
                        100
            #myfolder_right
              .tab_button
                .paging_myfolder
                  %span
                    1 / 1
              #myfolder_recipes
                - @recipes.each do |recipe|
                  .recipe_preview
                    .recipe_image
                      = link_to recipe_path(id:recipe.id) do
                        - if recipe.image?
                          = image_tag recipe.image.to_s,class: "image_width_100"
                        - else
                          = image_tag 'blank_recipe.png',class: "image_width_100"
                    .recipe_text
                      %span.title
                        = link_to recipe.title,'#',class: "recipe_title"
                      .myfolder
                        = render "myfolder-icon", recipe: recipe
                      .recipe_description
                        = recipe.catch_copy
                      .recipe_ingredients
                        %span 材料：
                        - recipe.ingredients.each do |ingredient|
                          = ingredient.name
                    .clear_both
                = paginate @recipes
        = render '/shares/sidebar-short'
        .clear_both
