#top-wrapper
  #wrapper
    #container
      #contents.clearfix
        #main
          #kondate_wrapper
            #kondate_index_contents
              #kondate_recent.clearfix
                %h3.title_row
                  新着献立
                .clearfix
                  - @kondates.each do |kondate|
                    .kondate_pickup_view
                      .kondate_image
                        = link_to kondate_path(kondate) do
                          = image_tag kondate.image.to_s ,class: "image_wh_180x180"
                      .kondate_title
                        = link_to "#{kondate.title}",kondate_path(kondate)
                      %span.kondate_recipe_count
                        (
                        = kondate.recipes.count
                        品)
                      .kondate_author.gray
                        by
                        = link_to "#{kondate.user.name}",user_path(id: kondate.user_id)
                      %ul.kondate_recipes
                        - kondate.recipes.each_with_index do |recipe,i|
                          %li
                            - if i == 0
                              .kondate_status_icon 主
                            - else
                              .kondate_status_icon 副
                            = link_to "#{recipe.title}",recipe_path(id:recipe.id),class: "recipe_title"
                .show_more_kondates_btn
                  = link_to '→もっと見る', recent_kondates_path
              .write_kondate_btn
                = link_to new_kondate_path do
                  = fa_icon 'edit'
                  %span 献立を書く
              .kondate_category_navi
                %h3.title_row
                  主な食材から探す
                .category_segment.ingredient.clearfix
                  .three_column
                    = link_to '#',class: "category_0" do
                      %span.category_name 鳥肉
                  .three_column
                    = link_to '#',class: "category_1" do
                      %span.category_name 豚肉
                  .three_column
                    = link_to '#',class: "category_2" do
                      %span.category_name 牛肉
                  .three_column
                    = link_to '#',class: "category_3" do
                      %span.category_name 魚介
                  .three_column
                    = link_to '#',class: "category_4" do
                      %span.category_name 卵
                  .three_column
                    = link_to '#',class: "category_5" do
                      %span.category_name 大豆
                  .three_column
                    = link_to '#',class: "category_6" do
                      %span.category_name ごはんもの
                  .three_column
                    = link_to '#',class: "category_7" do
                      %span.category_name パスタ
                %h3.title_row
                  ジャンルから探す
                .category_segment.genre.clearfix
                  .three_column
                    = link_to '#',class: "category_0" do
                      %span.category_name 和風
                  .three_column
                    = link_to '#',class: "category_1" do
                      %span.category_name 洋風
                  .three_column
                    = link_to '#',class: "category_2" do
                      %span.category_name 中華風
                %h3.title_row
                  シーンから探す
                .category_segment.scene.clearfix
                  .three_column
                    = link_to '#',class: "category_0" do
                      %span.category_name 朝ごはん
                  .three_column
                    = link_to '#',class: "category_1" do
                      %span.category_name 昼ごはん
                  .three_column
                    = link_to '#',class: "category_2" do
                      %span.category_name 晩ごはん
                  .three_column
                    = link_to '#',class: "category_3" do
                      %span.category_name お弁当
                  .three_column
                    = link_to '#',class: "category_4" do
                      %span.category_name パーティー
        = render 'shares/sidebar'
