#top-wrapper
  #wrapper
    #container
      #contents.clearfix
        #main
          #kondate_wrapper
            #kondate_index_contents
              #kondate_user_show
                = form_for @kondate do |f|
                  .kondate_header.clearfix
                    .f_left
                      = link_to "« #{@user.name}の献立",user_path(id:@user.id)
                  .kondate_title_wrapper.recipe_sub_title
                    献立のタイトル
                    .kondate_title.clearfix
                      = f.text_field :title, required: true,class: "kondate_title_input"
                      .author_name
                        = link_to '','#'
                  .kondate_photo_wrapper
                    = f.label :image do
                      = image_tag 'kondate/blank_kondate_550.jpeg', id: "kondate_photo"
                      = f.file_field :image, class: "kondate_image_hidden"
                  .kondate_under_infos
                    .point_cooking_time_wrapper.clearfix
                      .point.f_left
                        .recipe_sub_title
                          この献立のポイント
                        = f.text_area :point,class: "kondate_edit_form"
                      .cooking_time.f_right
                        .recipe_sub_title
                          調理時間
                        = f.select :cooking_time, options_for_select([['選択する',''],['10分以内',10],['20分',20],['30分',30],['40分',40],['50分',50],['60分',60],['90分',90],['120分以上',120]], class: 'select_action cooking_time_select')
                    .setup_tips
                      .recipe_sub_title
                        段取りのコツ
                      = f.text_area :tips,class: "kondate_edit_form"
                    #kondate_recipes_wrapper.clearfix
                      .kondate_recipe_wrapper.first
                        = f.fields_for :recipe_kondates do |ff|
                          = ff.hidden_field :recipe_id,name: "recipe[recipe_kondates_attributes][][recipe_id]"
                          = ff.hidden_field :status,name: "recipe[recipe_kondates_attributes][][status]"
                          .kondate_recipe
                            .icon_kondate_recipe
                              .kondate_status_icon
                                主
                            .kondate_recipe_image
                              = link_to '#',id: "kondate-modal-open",class: "kondate_recipe_index kondate_recipe_blank" do
                                = fa_icon 'file'
                                クリックして
                                %br
                                レシピを選択
                      .kondate_recipe_wrapper
                        = f.fields_for :recipe_kondates do |ff|
                          = ff.hidden_field :recipe_id,name: "recipe[recipe_kondates_attributes][][recipe_id]"
                          = ff.hidden_field :status,name: "recipe[recipe_kondates_attributes][][status]"
                          .kondate_recipe
                            .icon_kondate_recipe
                              .kondate_status_icon
                                副
                            .kondate_recipe_image
                              = link_to '#',id: "kondate-modal-open" ,class: "kondate_recipe_index kondate_recipe_blank" do
                                = fa_icon 'file'
                                クリックして
                                %br
                                レシピを選択
                      .kondate_recipe_wrapper.add_kondate_recipe
                        .add_side_dish_link
                          = fa_icon 'plus-circle',class: "add_side_dish_btn"
                          = link_to '追加する','#',id: "kondate-modal-open",class: "kondate_recipe_index"
                    = f.submit '保存する',class: "kondate_submit_btn"
              = hidden_field_tag :user_id_for_search, @user.id
