#top-wrapper
  #wrapper
    #container
      #contents.clearfix
        #main
          #kondate_wrapper
            #recent_kondate
              %h2.title
                新着献立
              .kondate_previews
                - 5.times do
                  .kondate_list_view
                    .kondate_image
                      = link_to '献立画像','#'
                    .kondate_infos
                      .kondate_title.font18
                        = link_to '豆腐で焼きそばチャンプルー','#'
                        %span.kondate_recipe_count
                        (3品)
                      .kondate_author.gray
                        by
                        = link_to '献立太郎','#'
                      .kondate_description
                        豆腐、蒟蒻、野菜たっぷりのヘルシーメニュー♪暑さ戻り過酷な毎日ですが、しっかり食べて頑張りまっしよい☆٩(ˊᗜˋ*)و
                      %ul.kondate_recipes
                        %li
                          .kondate_status_icon 主
                          = link_to '豆腐チャンプルチャンプル','#',class: "recipe_title"
                        %li
                          .kondate_status_icon 副
                          = link_to '菜っ葉の付け合わせ','#',class: "recipe_title"
                      .kondate_other_recipes
                        他1品

