.kondate_recipe_show_view
  .kondate_image
    = link_to "" do
      = image_tag "https://img.cpcdn.com/user_kondate_infos/99147/130x130c/ca1ac5230620b76d4524a176d9537da4.jpg?u=268332&p=1442518425"
  .kondate_title
    = link_to "ノース・コーンブレッド×チャイ♡"
    %span.kondate_recipe_count
      (5品)
  .kondate_author
    by Hirarinn☆
.kondate_recipe_show_view
  .kondate_image
    = link_to "" do
      = image_tag "https://img.cpcdn.com/user_kondate_infos/99147/130x130c/ca1ac5230620b76d4524a176d9537da4.jpg?u=268332&p=1442518425"
  .kondate_title
    = link_to "ノース・コーンブレッド×チャイ♡"
    %span.kondate_recipe_count
      (5品)
  .kondate_author
    by Hirarinn☆
.kondate_recipe_show_view
  .kondate_image
    = link_to "" do
      = image_tag "https://img.cpcdn.com/user_kondate_infos/99147/130x130c/ca1ac5230620b76d4524a176d9537da4.jpg?u=268332&p=1442518425"
  .kondate_title
    = link_to "ノース・コーンブレッド×チャイ♡"
    %span.kondate_recipe_count
      (5品)
  .kondate_author
    by Hirarinn☆
.kondate_recipe_show_view
  .kondate_image
    = link_to "" do
      = image_tag "https://img.cpcdn.com/user_kondate_infos/99147/130x130c/ca1ac5230620b76d4524a176d9537da4.jpg?u=268332&p=1442518425"
  .kondate_title
    = link_to "ノース・コーンブレッド×チャイ♡"
    %span.kondate_recipe_count
      (5品)
  .kondate_author
    by Hirarinn☆

