.side_banner_wrapper
  .side_banner_wrapper__recipe_help
    %h4.title_bar
      レシピの書き方
      .sample_link
        = link_to "サンプルはこちら", "#"
    %ul.menu_list_example
      %li#example_title
        .example_arrow_top
          = link_to "🔽レシピのタイトル", ""
        .example_arrow_bottom.hidden
          = link_to "🔼レシピのタイトル", ""
        .example_box_yellow.hidden
          レシピに合ったタイトルをつけてください。
      %li#example_photo
        .example_arrow_top
          = link_to "🔽レシピの写真", ""
        .example_arrow_bottom.hidden
          = link_to "🔼レシピの写真", ""
        .example_box_yellow.hidden
          レシピの完成写真をのせてください。イメージが正しく伝わり調理しやすくなります。
          .notice
            ※人や動物が映り込んだ写真、オリジナルでないものはご遠慮ください。
      %li.example_description
        .example_arrow_top
          = link_to "🔽レシピの紹介文", ""
        .example_arrow_bottom.hidden
          = link_to "🔼レシピの紹介文", ""
        .example_box_yellow.hidden
          レシピの味や魅力をわかりやすい言葉で書いてください。
      %li.example_ingredients
        .example_arrow_top
          = link_to "🔽材料・分量", ""
        .example_arrow_bottom.hidden
          = link_to "🔼材料・分量", ""
        .example_box_yellow.hidden
          レシピの味が再現できるよう、材料（食材や調味料）とその分量を書いてください。
          .notice
            ※分量を記載しにくい材料は「少々」や「適量」などで問題はありません。
      %li.example_setup
        .example_arrow_top
          = link_to "🔽作り方", ""
        .example_arrow_bottom.hidden
          = link_to "🔼作り方", ""
        .example_box_yellow.hidden
          お料理初心者の方でもわかるよう、下ごしらえの方法や調理手順を書いてください。
      %li.example_advice
        .example_arrow_top
          = link_to "🔽コツ、ポイント", ""
        .example_arrow_bottom.hidden
          = link_to "🔼コツ、ポイント", ""
        .example_box_yellow.hidden
          調理時の注意点や、おいしく作るコツなどを教えてください。
      %li.example_history
        .example_arrow_top
          = link_to "🔽レシピの生い立ち", ""
        .example_arrow_bottom.hidden
          = link_to "🔼レシピの生い立ち", ""
        .example_box_yellow.hidden
          レシピが生まれたきっかけを教えてください。
          .notice
            ※◯◯好きな夫のために作った、思い出の母の味をアレンジ など、具体的に書いてください。
