%li.similar-recipe
  = fa_icon "caret-right"
  = link_to "バナナ 保存", "", class: "track_hakari"
  %span.gray
    45品
%li.similar-recipe
  = fa_icon "caret-right"
  = link_to "バナナ 保存", "", class: "track_hakari"
  %span.gray
    45品
%li.similar-recipe
  = fa_icon "caret-right"
  = link_to "バナナ 保存", "", class: "track_hakari"
  %span.gray
    45品
%li.similar-recipe
  = fa_icon "caret-right"
  = link_to "バナナ 保存", "", class: "track_hakari"
  %span.gray
    45品

