= f.fields_for :flows, @recipe.flows.sort_by{|a| a[:order] } do |fl|
  .step
    .step__header
      .step__header__left
        .step-position
          = fl.index + 1
        .step_move_higher-edit
          = link_to "←", ""
        .step_move_lower-edit
          = link_to "→", ""
      .step__header__right
        = link_to "削除", "#", id: "step-remove-button-edit"
        = link_to "追加", "#", id: "step-add-button-edit"
    .step__main
      .step__main_image
        = fl.label :image do
          - if @recipe.flows[fl.index].image.present?
            = image_tag @recipe.flows[fl.index].image, class: "step_example", width: "136px"
          - else
            = image_tag "step_blank.png", class: "step_example", width: "136px"
          = fl.file_field :image, class: "step-image"
      .step__main_text
        -# = image_tag "edit-image.png", class: "edit-image"
        -# クリックして作り方を入力
        = fl.text_area :text
        = fl.hidden_field :order, value: "#{fl.index + 1}", id:"step_order"
        = fl.check_box :_destroy, id: "update_destroy_flows"
