.tsukurepo-wrapper
  .tsukurepo
    .tsukurepo-inner
      .tsukurepo_info
        %p.date 18/08/12
      .image
        = image_tag "https://img.cpcdn.com/tsukurepos/21850618/130x130c/9834634adb09d24c2ecc2fe9623cde52.jpg?u=14034561&p=1534064492", class: "tsukurepo-photo"
      %p.message
        バナナのいい保存方法がなくて困ってました！黒くならないといいな♡
      %p.tsukurepo-author
        = link_to "", "#"
        -# imageを押すと飛べるようにする,多分path,doを書けばいける
        = image_tag "https://img.cpcdn.com/users/14034561/16x16c/35aba2a27f3c8aff92a198269bd796c3.jpg?u=14034561&p=1529634629", class: "author_icon"
        = link_to "クックJQWTJ6☆", "#", class: "author"
  %p.comment
    素敵なレポ有難う♡お試し下さりとっても嬉しいです♪
.tsukurepo-wrapper
  .tsukurepo
    .tsukurepo-inner
      .tsukurepo_info
        %p.date 18/08/12
      .image
        = image_tag "https://img.cpcdn.com/tsukurepos/21850618/130x130c/9834634adb09d24c2ecc2fe9623cde52.jpg?u=14034561&p=1534064492", class: "tsukurepo-photo"
      %p.message
        バナナのいい保存方法がなくて困ってました！黒くならないといいな♡
      %p.tsukurepo-author
        = link_to "", "#"
        -# imageを押すと飛べるようにする,多分path,doを書けばいける
        = image_tag "https://img.cpcdn.com/users/14034561/16x16c/35aba2a27f3c8aff92a198269bd796c3.jpg?u=14034561&p=1529634629", class: "author_icon"
        = link_to "クックJQWTJ6☆", "#", class: "author"
  %p.comment
    素敵なレポ有難う♡お試し下さりとっても嬉しいです♪
.tsukurepo-wrapper
  .tsukurepo
    .tsukurepo-inner
      .tsukurepo_info
        %p.date 18/08/12
      .image
        = image_tag "https://img.cpcdn.com/tsukurepos/21850618/130x130c/9834634adb09d24c2ecc2fe9623cde52.jpg?u=14034561&p=1534064492", class: "tsukurepo-photo"
      %p.message
        バナナのいい保存方法がなくて困ってました！黒くならないといいな♡
      %p.tsukurepo-author
        = link_to "", "#"
        -# imageを押すと飛べるようにする,多分path,doを書けばいける
        = image_tag "https://img.cpcdn.com/users/14034561/16x16c/35aba2a27f3c8aff92a198269bd796c3.jpg?u=14034561&p=1529634629", class: "author_icon"
        = link_to "クックJQWTJ6☆", "#", class: "author"
  %p.comment
    素敵なレポ有難う♡お試し下さりとっても嬉しいです♪
.tsukurepo-wrapper
  .tsukurepo
    .tsukurepo-inner
      .tsukurepo_info
        %p.date 18/08/12
      .image
        = image_tag "https://img.cpcdn.com/tsukurepos/21850618/130x130c/9834634adb09d24c2ecc2fe9623cde52.jpg?u=14034561&p=1534064492", class: "tsukurepo-photo"
      %p.message
        バナナのいい保存方法がなくて困ってました！黒くならないといいな♡
      %p.tsukurepo-author
        = link_to "", "#"
        -# imageを押すと飛べるようにする,多分path,doを書けばいける
        = image_tag "https://img.cpcdn.com/users/14034561/16x16c/35aba2a27f3c8aff92a198269bd796c3.jpg?u=14034561&p=1529634629", class: "author_icon"
        = link_to "クックJQWTJ6☆", "#", class: "author"
  %p.comment
    素敵なレポ有難う♡お試し下さりとっても嬉しいです♪

