#top-wrapper
  #wrapper
    #container
      #contents.clearfix
        #main
          = render "users/kitchen/header"
          .kitchen_navi
            %ul.kitchen_navi_list
              %li.kitchen_navi_top
                = link_to 'トップ', user_path
              %li.kitchen_navi_recipe.selected
                = link_to 'レシピ', "/recipes/list/#{@user.id}"
              %li.kitchen_navi_tsukurepo
                %a つくれぽ
              %li.kitchen_navi_kondate
                %a 献立
              %li.kitchen_navi_blog
                = link_to do
                  = fa_icon 'link', text: "ブログ"
              %li.kitchen_navi_diary
                %a ごはん日記
          = render "users/kitchen/contents-recipe"

        = render "users/kitchen/sidebar"
