.main
  .header-box
  .contents
    .contents__left
      .contents__left__recipe
        -# contents__left内の削除、印刷のところ
        .recipe_author
          .recipe_author__link_author_kitchen
            = link_to "クックGB5RQL☆のレシピ", "#"
          .recipe_author__link_setting_delete
            = link_to "印刷", "#"
            |
            = link_to "削除", "#"
          -# recipe内の入力する部分(画像、材料、キャッチコピー)
        .recipe-main
          .recipe-title
            %h1 recipe-title
            -# 画像
          .recipe-photo
            = image_tag "image-upload.png"
          -# キャッチコピーと材料
          .catchphrase_and_ingredients
            .catchphrase_recipe_author_top
              .catchphrase
                = image_tag "edit-image.png", class: "edit-image"
                このレシピのキャッチコピーを入力 (検索結果にも表示されます)
              .recipe_author_top
                .recipe_author_top__link
                  = image_tag "profile.png", class: "author_icon"
                  = link_to "クックGB5RQL☆", "#"
            .ingredients
              = image_tag "cookpad-ingredients.gif"
          .sk-center
          -# 料理ステップ
          #cooking-steps
            = render "step"
            -# コツ、レシピの生い立ち
          .memo_and_history
            .memo_wrapper
              %h3 コツ・ポイント
              .text-content
                = image_tag "edit-image.png", class: "edit-image"
                クリックしてコツやポイントを入力
            .history_wrapper
              %h3 このレシピの生い立ち
              .text-content
                = image_tag "edit-image.png", class: "edit-image"
                クリックしてこのレシピをが生まれたきっかけや経験を入力
                %br
                例）母から教わったレシピを、家族が好む甘めの味付けにアレンジしました
                %br
                例）〇〇番組で紹介されたレシピを、家にある材料で簡単に作れるように工夫しました
          .sk-bottom
          -# レシピID、公開日、更新日
          .meta_data_wrapper
            .recipe_id_and_published_date
              %span.recipe_id レシピID : 5198962
              %span.published_date 公開日 : 未公開
              %span 更新日 : 18/08/07

    .contents__right
      = render "side-banner-wrapper"
      .draft_box
        .edit_recipe
          .check_guideline
            %input{type: "checkbox"}
            = link_to "掲載するレシピのガイドライン", "#"
            %br
              を読んで理解しました
          .submit-button
            レシピを公開する
      .user_icon_setting
        %h3
          %span クックGB5RQL☆
          さんのアイコン設定
        %p.message
          あなたらしいレシピにするためにアイコンを設定してみませんか。
        .set_icon
          .user-icon-box
            = image_tag "profile.png", size: '48x48'
            = link_to "アイコンを設定する", "#"
        %span.fukidashi
          = image_tag "fukidashi.png", size: '14x21'
