.main
  .contents
    .contents__left
      = form_for @recipe do |f|
        .contents__left__recipe.clearfix
          -# contents__left内の削除、印刷のところ
          .recipe_author
            .recipe_author__link_author_kitchen
              = link_to "クックGB5RQL☆のレシピ", "#"
            .recipe_author__link_setting_delete
              = link_to "印刷", "#"
              |
              = link_to "削除"
            -# recipe内の入力する部分(画像、材料、キャッチコピー)
          .recipe-main
            .recipe-title
              -# %h1 recipe-title
              = f.text_field :title, required: true
              -# 画像
            .recipe-photo
              = f.label :image do
                = image_tag "image-upload.png"
                = f.file_field :image, class: 'recipe-image'
            -# キャッチコピーと材料
            .catchphrase_and_ingredients
              .catchphrase_recipe_author_top
                .catchphrase
                  -# = image_tag "edit-image.png", class: "edit-image"
                  -# このレシピのキャッチコピーを入力 (検索結果にも表示されます)
                  = f.text_area :catch_copy
                .recipe_author_top
                  .recipe_author_top__link
                    = image_tag "profile.png", class: "author_icon"
                    = link_to "クックGB5RQL☆", "#"
              .ingredients
                = f.fields_for :ingredients do |i|
                  .ingredient
                    = i.text_field :name, placeholder: "材料名", class: "ingredient-name", name: "recipe[ingredients_attributes][][name]"
                    = i.text_field :amount, placeholder: "分量", class: "ingredient-amount", name: "recipe[ingredients_attributes][][amount]"
                    = link_to "削除", "", id: "ingredient-delete-button"
              .add
                = link_to "追加","", id: "ingredient-add-button"
                -# = image_tag "cookpad-ingredients.gif"
            .sk-center
            -# 料理ステップ
            #cooking-steps.clearfix
              = render "step-new", f: f
              -# コツ、レシピの生い立ち
            .memo_and_history.clearfix
              .memo_wrapper
                %h3 コツ・ポイント
                .text-content
                  -# = image_tag "edit-image.png", class: "edit-image"
                  -# クリックしてコツやポイントを入力
                  = f.text_area :tips, placeholder: "コツ"
              .history_wrapper
                %h3 このレシピの生い立ち
                .text-content
                  -# = image_tag "edit-image.png", class: "edit-image"
                  -# クリックしてこのレシピをが生まれたきっかけや経験を入力
                  -# %br
                  -# 例）母から教わったレシピを、家族が好む甘めの味付けにアレンジしました
                  -# %br
                  -# 例）〇〇番組で紹介されたレシピを、家にある材料で簡単に作れるように工夫しました
                  = f.text_area :background
            .sk-bottom.clearfix
            -# レシピID、公開日、更新日
            .meta_data_wrapper
              .recipe_id_and_published_date
                %span.recipe_id レシピID : 5198962
                %span.published_date 公開日 : 未公開
                %span 更新日 : 18/08/07
        .submit-actions.clearfix
          = f.submit "保存する"

    .contents__right
      = render "side-banner-wrapper"
      .draft_box
        .edit_recipe
          .check_guideline
            %input{type: "checkbox"}
            = link_to "掲載するレシピのガイドライン", "#"
            %br
              を読んで理解しました
          .submit-button
            レシピを公開する
      .user_icon_setting
        %h3
          %span クックGB5RQL☆
          さんのアイコン設定
        %p.message
          あなたらしいレシピにするためにアイコンを設定してみませんか。
        .set_icon
          .user-icon-box
            = image_tag "profile.png", size: '48x48'
            = link_to "アイコンを設定する", "#"
        %span.fukidashi
          = image_tag "fukidashi.png", size: '14x21'
