.feature-box.box
  .feature-menu
    .recipe-menu
      .recipe-menu__title
        %a{:href => "/"} レシピ関連サービス
      %ul.recipe-menu__list
        %li
          %a{:href => "/"}
            = fa_icon "utensils",class: "deep_green font18"
            %span みんなのレシピ
        %li
          %a{:href => "/"}
            = fa_icon "book-open",class: "light-blue font18"
            %span プロのレシピ
        %li
          = link_to "/kondates" do
            = fa_icon "fish",class: "light-green font18"
            %span 献立
        %li
          %a{:href => "/"}
            %i.fas.fa-video.pink.font18
            %span 料理動画
        %li
          %a{:href => "/"}
            %i.fas.fa-user.deep_yellow.font18
            %span 話題のキッチン
    .p_service-menu
      .p_service-menu__title
        = image_tag("https://assets.cpcdn.com/assets/sara/icon_ps_medium@2x.png?de96e90792e583e6f866187cdd6dfb8a8cc7a89990c31d4b2d7e09a9a0cbcb98")
        %a{:href => "/"} プレミアムサービス
      %ul.p_service-menu__list
        %li
          %a{:href => "/"}
            %i.fas.fa-crown.orange.font18
            %span 人気順検索
        %li
          %a{:href => "/"}
            %i.fas.fa-medal.orange.font18
            %span レシピランキング
        %li
          %a{:href => "/"}
            %i.fas.fa-trophy.orange.font18
            %span 殿堂入りレシピ
        %li
          %a{:href => "/"}
            %i.fab.fa-jenkins.orange.font18
            %span 専門家厳選レシピ
        %li
          %a{:href => "/"}
            %i.far.fa-star.orange.font18
            %span プレミアム献立
      .p_service-menu__more
        %a{:href => "/"} もっと見る
    .life_service-menu
      .life_service-menu__title
        %a{:href => "/"} 生活関連サービス
      %ul.life_service-menu__list
        %li
          %a{:href => "/"}
            %i.far.fa-newspaper.orange.font18
            %span 料理ニュース
        %li
          %a{:href => "/"}
            %i.fas.fa-home.light_purple.font18
            %span Cookpad DO !
  .feature-main
    .feature-pickup
      %a.pickup-image{:href => "/"}
        = image_tag("dummy_recipes/salad.jpg",class: "image_wh_447x251")
      .pickup-title
        .pickup-title__date
          %span>< 8
          月
          %span>< 31
          日の
          %br
          おすすめ
        %a{:href => "/"}
          .pickup-title__body ＊グリーングリーンサラダ＊
          .pickup-title__user
            SHOOKY
    .feature-news
      .news-title
        %a{:href => "/"} ニュース
      %ul.news-list
        %li.news-top
          %a{:href => "/"}
            .news-top__image
              = image_tag("dummy_recipes/kakigori.jpg")
            .news-top__article
              .news-top__article--title かき氷シロップで涼感おやつ♪
              .news-top__article--body 夏に使ったかき氷シロップ。余っていたら、涼感おやつを作ってみませんか。カラフルな色に子どもも大喜び！
        %li.news-topic
          %a{:href => "/"} 5分で完成！トマト＆豆腐の副菜
        %li.news-topic
          %a{:href => "/"} 人気検索キーワードランキング！
        %li.news-topic
          %a{:href => "/"} 新感覚スナック「マヨネー麩」
        %li.news-topic
          %a{:href => "/"} 食欲ソソる！カレーチーズおかず
        .news-more-link
          %a{:href => "/"} もっと見る
