.kitchen
  .kitchen-menu
    .kitchen-menu__title
      %a{:href => "/"} 話題のキッチン
      %span お気に入りのキッチンを探そう！
    %ul
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("https://img.cpcdn.com/users/2385731/80x80c/d2c3bea0d96b3d7a86eef6fdf2937edf.jpg?u=2385731&p=1475122270")
        %span
          SHOOKY
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("https://img.cpcdn.com/users/2385731/80x80c/d2c3bea0d96b3d7a86eef6fdf2937edf.jpg?u=2385731&p=1475122270")
        %span
          SHOOKY
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("https://img.cpcdn.com/users/2385731/80x80c/d2c3bea0d96b3d7a86eef6fdf2937edf.jpg?u=2385731&p=1475122270")
        %span
          SHOOKY
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("https://img.cpcdn.com/users/2385731/80x80c/d2c3bea0d96b3d7a86eef6fdf2937edf.jpg?u=2385731&p=1475122270")
        %span
          SHOOKY
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("https://img.cpcdn.com/users/2385731/80x80c/d2c3bea0d96b3d7a86eef6fdf2937edf.jpg?u=2385731&p=1475122270")
        %span
          SHOOKY
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("https://img.cpcdn.com/users/2385731/80x80c/d2c3bea0d96b3d7a86eef6fdf2937edf.jpg?u=2385731&p=1475122270")
        %span
          SHOOKY
      %li.kitchen-menu__last
        %a{:href => "/"}
          = image_tag("https://img.cpcdn.com/users/2385731/80x80c/d2c3bea0d96b3d7a86eef6fdf2937edf.jpg?u=2385731&p=1475122270")
        %span
          SHOOKY
    .kitchen-menu__topics
      %ul
        %li.kitchen-menu__topics
          %a{:href => "/"}もやしのマリネ
        %li.kitchen-menu__topics
          %a{:href => "/"}もやしのマリネ
        %li.kitchen-menu__topics
          %a{:href => "/"}もやしのマリネ
        %li.kitchen-menu__topics
          %a{:href => "/"}もやしのマリネ
        %li.kitchen-menu__topics
          %a{:href => "/"}もやしのマリネ
        %li.kitchen-menu__topics
          %a{:href => "/"}もやしのマリネ
    .kitchen-menu__more-link
      %a{:href => "/"} もっと見る
