.kitchen
  .kitchen-menu
    .kitchen-menu__title
      %a{:href => "/"} 話題のキッチン
      %span お気に入りのキッチンを探そう！
    %ul
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("pickup_user_icons/israel_tori.jpg",class: "image_wh_80x80")
        %span
          イスラエルとり
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("pickup_user_icons/cafe703.jpg",class: "image_wh_80x80")
        %span
          cafe703
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("pickup_user_icons/fujii21.jpg",class: "image_wh_80x80")
        %span
          藤井21
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("pickup_user_icons/hokkori.jpg",class: "image_wh_80x80")
        %span
          ほっこり
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("pickup_user_icons/dandoritei.jpg",class: "image_wh_80x80")
        %span
          だんどり亭
      %li.kitchen-menu__list
        %a{:href => "/"}
          = image_tag("pickup_user_icons/katou.jpg",class: "image_wh_80x80")
        %span
          実は悔しくない人
      %li.kitchen-menu__last
        %a{:href => "/"}
          = image_tag("pickup_user_icons/MonaLisa.jpg",class: "image_wh_80x80")
        %span
          モナ山田リザノ助
    .kitchen-menu__topics
      %ul
        %li.kitchen-menu__topics
          %a{:href => "/"}レモンのアイスクリーム
        %li.kitchen-menu__topics
          %a{:href => "/"}時短★ミキサーなしでヴィシソワーズ
        %li.kitchen-menu__topics
          %a{:href => "/"}カニのトマトクリームワンポットパスタ
        %li.kitchen-menu__topics
          %a{:href => "/"}切干大根のカレー炒め
        %li.kitchen-menu__topics
          %a{:href => "/"}紅茶とさつま芋のシフォン
        %li.kitchen-menu__topics
          %a{:href => "/"}長芋のガーリック梅味噌チーズ焼き
    .kitchen-menu__more-link
      %a{:href => "/"} もっと見る
