.pro
  .pro-menu
    .pro-menu__title
      = image_tag("https://assets.cpcdn.com/assets/sara/icon_ps_medium@2x.png?de96e90792e583e6f866187cdd6dfb8a8cc7a89990c31d4b2d7e09a9a0cbcb98")
      %a{:href => "/"} 専門家厳選レシピ
    %a{:href => "/"}
    .pro-menu-container
      %ul
        %li.pro-menu__list--even
          %a{:href => "/"}
            = image_tag 'premium_category_icons/beauty_icon.png'
            美容・ダイエット
        %li.pro-menu__list--odd
          %a{:href => "/"}
            = image_tag 'premium_category_icons/workingmama_icon.png'
            働くママ
        %li.pro-menu__list--even
          %a{:href => "/"}
            = image_tag 'premium_category_icons/cookingwell_icon.png'
            料理上手
        %li.pro-menu__list--odd
          %a{:href => "/"}
            = image_tag 'premium_category_icons/pregnant_icon.png'
            ベビー＆ママ
        %li.pro-menu__list--even
          %a{:href => "/"}
            = image_tag 'premium_category_icons/muscle_icon.png'
            スポーツ・体づくり
        %li.pro-menu__list--odd
          %a{:href => "/"}
            = image_tag 'premium_category_icons/children_icon.png'
            キッズ
        %li.pro-menu__list--even
          %a{:href => "/"}
            = image_tag 'premium_category_icons/family_icon.png'
            からだケア
        %li.pro-menu__list--odd
          %a{:href => "/"}
            = image_tag 'premium_category_icons/man_icon.png'
            男の料理
        %li.pro-menu__list--even
          %a{:href => "/"}
            = image_tag 'premium_category_icons/papa_icon.png'
            パパお疲れ様
  .pro-recipe-box
    .pro-recipe-box__title
      %a{:href => "/"} プロのレシピ
    .pro-recipe-container
      %ul
        %li.pro-recipe__list
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/5085007/80x80c/b2d02ac8aabf83e0a59ed4441b0c52e1.jpg?u=10037065&p=1526883337")
            .pro-recipe__list--user
              しらいのりこ
            .pro-recipe__list--name
              ごはん好きのための、ごはんレシピ「キャベツ」
            .clear_both
        %li.pro-recipe__list
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/5008484/80x80c/9c2dc1f6599d20e8992491a4e925ef0c.jpg?u=10037065&p=1522505665")
            .pro-recipe__list--user
              SHOOKY
            .pro-recipe__list--name
              老舗の味！「魚の煮付け」レシピ
