.ranking
  .ranking-box
    .ranking-box__title
      = image_tag("https://assets.cpcdn.com/assets/sara/icon_ps_medium@2x.png?de96e90792e583e6f866187cdd6dfb8a8cc7a89990c31d4b2d7e09a9a0cbcb98")
      %a{:href => "/"} デイリーアクセス数ランキング
    %a{:href => "/"}
    .ranking-box-container
      %ul
        - @most_viewed.each.with_index(1) do |rank, i|
          - if i == 1
            %li.ranking-box__list
              %a{:href => "/"}
                - if rank.image.present?
                  = image_tag(rank.image ,width: 50, height: 50, class: "side_image")
                - else
                  %img.user-avatar__image{ src: "https://assets.cpcdn.com/assets/themes/kitchen/profile.png?fc447fb6420741e008aa9c3e48c426d70c83bc8da7fb1ae949a7b09a446d7cd8",height: "50", width: "50", class: "side_image"}
                %i.fas.fa-crown.fa-lg.my-orange.fa-pull-left
                %span.index
                  = "#{i}"
                %span.ranking-box__list--title
                  = rank.title
                %br
                %span.ranking-box__list--user-name
                  by
                  %span.ranking-box__list--user-name>
                    = rank.user.name
          - elsif i == 2
            %li.ranking-box__list
              %a{:href => "/"}
                - if rank.image.present?
                  = image_tag(rank.image ,width: 50, height: 50, class: "side_image")
                - else
                  %img.user-avatar__image{ src: "/assets/icon_default.png",height: "50", width: "50", class: "side_image"}
                %i.fas.fa-crown.fa-lg.my-silver.fa-pull-left
                %span.index
                  = "#{i}"
                %span.ranking-box__list--title
                  = rank.title
                %br
                %span.ranking-box__list--user-name
                  by
                  %span.ranking-box__list--user-name>
                    = rank.user.name
          - else
            %li.ranking-box__list
              %a{:href => "/"}
                - if rank.image.present?
                  = image_tag(rank.image ,width: 50, height: 50, class: "side_image")
                - else
                  %img.user-avatar__image{ src: "/assets/icon_default.png",height: "50", width: "50", class: "side_image"}
                %i.fas.fa-crown.fa-lg.fa-pull-left
                %span.index
                  = "#{i}"
                %span.ranking-box__list--title
                  = rank.title
                %br
                %span.ranking-box__list--user-name
                  by
                  %span.ranking-box__list--user-name>
                    = rank.user.name
      .clear_both
        .ranking-box__more-link
          %a{:href => "/"} もっと見る
  .trend-recipe-box
    .trend-recipe-box__title
      %a{:href => "/"}
        話題のレシピ
      %span つくれぽ１０人おめでとう！
    .trend-recipe-container
      %ul
        %li.trend-recipe__list
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/3899525/94x94c/2dd4066c0ff4afcde79476ed191ca70a.jpg?u=1350567&p=1465025048")
            %span.trend-recipe__list--title
              簡単ランチに♪さっぱり梅ごぼうチャーハン
            %span.trend-recipe__list--user-name
              by SHOOKY
        %li.trend-recipe__list
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/3656183/94x94c/797f79f0c0764656c65a57dfc87e1ebb.jpg?u=6279574&p=1454202752")
            %span.trend-recipe__list--title
              HM＆バナナだけ！簡単スコーン風蒸しパン
            %span.trend-recipe__list--user-name
              by SHOOKY
        %li.trend-recipe__last
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/3070123/94x94c/903bf161d63f115244ec737a047cb826.jpg?u=7561728&p=1449475883")
            %span.trend-recipe__list--title
              お家で鯛茶漬け♫
            %span.trend-recipe__list--user-name
              by SHOOKY
      .trend-recipe__more-link
        %a{:href => "/"} もっと見る
