.ranking
  .ranking-box
    .ranking-box__title
      = image_tag("https://assets.cpcdn.com/assets/sara/icon_ps_medium@2x.png?de96e90792e583e6f866187cdd6dfb8a8cc7a89990c31d4b2d7e09a9a0cbcb98")
      %a{:href => "/"} デイリーアクセス数ランキング
    %a{:href => "/"}
    .ranking-box-container
      %ul
        %li.ranking-box__list
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/3899525/94x94c/2dd4066c0ff4afcde79476ed191ca70a.jpg?u=1350567&p=1465025048")
            = image_tag("https://assets.cpcdn.com/assets/sara/rank1.png?f4a52cf48ed21b892e9d2720d8b06adf23125e809400a9dda58a9534b75716db")
            %span.ranking-box__list--title
              簡単ランチに♪さっぱり梅ごぼうチャーハン
            %span.ranking-box__list--user-name
              by SHOOKY
        %li.ranking-box__list
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/3656183/94x94c/797f79f0c0764656c65a57dfc87e1ebb.jpg?u=6279574&p=1454202752")
            = image_tag("https://assets.cpcdn.com/assets/sara/rank2.png?c790154b1cac55ef867a13d55c335c2456c1ac078fc92e00f72c057668de2996")
            %span.ranking-box__list--title
              HM＆バナナだけ！簡単スコーン風蒸しパン
            %span.ranking-box__list--user-name
              by SHOOKY
        %li.ranking-box__last
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/3070123/94x94c/903bf161d63f115244ec737a047cb826.jpg?u=7561728&p=1449475883")
            = image_tag("https://assets.cpcdn.com/assets/sara/rank3.png?8ce0ad17ff2fb3be4fc374cc287baa6072d8843504f9159a7faf573924c69f93")
            %span.ranking-box__list--title
              お家で鯛茶漬け♫
            %span.ranking-box__list--user-name
              by SHOOKY
      .ranking-box__more-link
        %a{:href => "/"} もっと見る
  .trend-recipe-box
    .trend-recipe-box__title
      %a{:href => "/"}
        話題のレシピ
      %span つくれぽ１０人おめでとう！
    .trend-recipe-container
      %ul
        %li.trend-recipe__list
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/3899525/94x94c/2dd4066c0ff4afcde79476ed191ca70a.jpg?u=1350567&p=1465025048")
            %span.trend-recipe__list--title
              簡単ランチに♪さっぱり梅ごぼうチャーハン
            %span.trend-recipe__list--user-name
              by SHOOKY
        %li.trend-recipe__list
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/3656183/94x94c/797f79f0c0764656c65a57dfc87e1ebb.jpg?u=6279574&p=1454202752")
            %span.trend-recipe__list--title
              HM＆バナナだけ！簡単スコーン風蒸しパン
            %span.trend-recipe__list--user-name
              by SHOOKY
        %li.trend-recipe__last
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/3070123/94x94c/903bf161d63f115244ec737a047cb826.jpg?u=7561728&p=1449475883")
            %span.trend-recipe__list--title
              お家で鯛茶漬け♫
            %span.trend-recipe__list--user-name
              by SHOOKY
      .trend-recipe__more-link
        %a{:href => "/"} もっと見る
