#top-wrapper
  #wrapper
    #container
      #contents.clearfix
        #main
          = render 'users/kitchen/header',locals: {user: @user}
          .kitchen_navi
            %ul.kitchen_navi_list
              %li.kitchen_navi_top
                = link_to 'トップ'
              %li.kitchen_navi_recipe
                = link_to 'レシピ', "/recipes/list/#{@user.id}"
              %li.kitchen_navi_tsukurepo
                %a
                  つくれぽ
              %li.kitchen_navi_kondate
                %a
                  献立
              %li.kitchen_navi_blog
                = link_to do
                  = fa_icon 'link', text: "ブログ"
              %li.kitchen_navi_diary
                = link_to 'ごはん日記', "/diaries"
          = render "diaries/list-top"

        = render "shares/sidebar"
