.separate_wrapper.page_title
  %h1.page_title_with_line 登録情報
  %p このページはあなたのみ閲覧できます
#account_info
  #user_icon_wrapper
    - if @user.avatar.present?
      = link_to '#colorbox_link', class: "colorbox_link" do
        = image_tag @user.avatar, class: 'user-avater__image',width: "50", height: "50"
        %p 変更する
      #colorbox_link{style: "display:none;"}
        #two-col-left.kitchen
        %h1.page_title 写真を変更する
        #change_user_name_form
        %p
          掲載したい写真を選んで、決定ボタンを押してください。
          %span>
            = hidden_field_tag :user_id, current_user.id, class: "form_userid"
            = link_to "(削除する)", avatar_destroy_user_path(@user),class: "delete_avatar", method: :delete, remote: true
        .user-edit-form#edit-form
          = form_for(current_user) do |f|
            = f.file_field :avatar, class: "form__file"
            %br
            %br
            = hidden_field_tag :user_id, current_user.id, class: "form_userid"
            = f.submit '決定', class: "form__submit"
    - else
      = link_to '#colorbox_link', class: "colorbox_link" do
        %img.user-avatar__image{ src: "/assets/icon_default.png",height: "50", width: "50"}
        %p 変更する
      #colorbox_link{style: "display:none;"}
        #two-col-left.kitchen
        %h1.page_title 写真を変更する
        #change_user_name_form
          %p 掲載したい写真を選んで、決定ボタンを押してください。
        .user-edit-form#edit-form
          = form_for(current_user) do |f|
            = f.file_field :avatar, class: "form__file"
            %br
            = hidden_field_tag :user_id, current_user.id, class: "form_userid"
            = f.submit '決定', class: "form__submit"
  %h2#name
    = @user.name
    =link_to "(変更する)", '#modal', id:"link_to_edit_user_name", class: "modal"
    #modal{style: "display:none;"}
      #two-col-left.kitchen
        %h1.page_title ニックネームの変更
        #change_user_name_form
        %p.notice ※3〜10文字以内。半角記号・スペース・絵文字は使用できません。
        .user-edit-form
          = form_for(current_user, url: user_path(@user), html: {class: "edit-user-name"}) do |f|
            %table.table_basic
              %tbody
                %tr
                  %th
                    = f.label :ニックネーム
                  %td
                    = f.text_field :name, autofocus: true, maxlength: 10, class: "count-length"
            .actions
              = f.submit "ニックネームを変更する", class: 'btn'


  %p#kitchen_setting
    %span あなたのキッチン：
    = link_to "#{@user.name}のキッチン", user_path
  %p#register_and_update_date
    登録日：
    = simple_time(@user.created_at)
    更新日：
    = simple_time(@user.updated_at)
#service_info
  %h3.content_title
    %img.icon_img{alt: "Tick", src: "https://assets.cpcdn.com/assets/shared/tick.png?5ae25bb150cd9eb785c965db6d8333e2f112f3d53586e2fd470dd57941fbadce"}
    %span サービスのご利用状況
  %table.cp_table
    %tbody
      %tr
        %th.header.service_title サービス名
        %th.header 利用状況
        %th 設定
      %tr
        %th クックパッド
        %td ユーザー登録済み
        %td
          = link_to "解除する", '#'
      %tr
        %th プレミアムサービス
        %td 利用していません
        %td
          = link_to "利用する", '#'
      %tr
        %th プロのレシピサービス
        %td 利用していません
        %td
          = link_to "利用する", '#'
      %tr
        %th MYキッチン
        %td 利用しています
        %td
          = link_to "設定を変更", '#'
      %tr
        %th サービス連携
        %td{colspan: "2"}
          = link_to "クックパッドとログイン連携しているサービス", '#'
  %h3.content_title
    %img.icon_img{alt: "Tick", src: "https://assets.cpcdn.com/assets/themes/user/lock.png?511028479b05252316aff8943ebadd09c3f6a6c548b0865802496d2c853d3e8b"}
    %span お客様情報
  %table.cp_table
    %tbody
      %tr
        %th.header.service_title 登録情報
        %th 登録内容
      %tr
        %th メールアドレス
        %td.secret_info
          = @user.email
      %tr
        %th パスワード
        %td.secret_info
  #profile_container.box.container_inner
    .user_info
      .user_icon
        - if @user.avatar.present?
          = image_tag @user.avatar, class: 'user-avater__image',width: "48", height: "48"
        - else
          %img.user-avatar__image{ src: "/assets/icon_default.png",height: "48", width: "48"}
      .user_name
        = @user.name
        のプロフィール
    .profile_text
      = @user.profile
    .profile_text_edit{style: "display:none;"}
      = form_for(current_user, html: {class: "edit_user_profile"}) do |f|
        = f.text_area :profile, size: "77x4", class: "count-length", autofocus: true, maxlength: 200
        = hidden_field_tag :user_id, current_user.id, class: "form_userid"
        = f.submit '保存', class: "form_profile_submit"
        .delete_profile 取消
