!!!
%html
  %head
    %title Cookpad
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{crossorigin: "anonymous", defer: "defer",integrity: "sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9", src: "https://use.fontawesome.com/releases/v5.1.0/js/all.js"}

  %body
    #large_screen_side_bar_out_wrapper
      = render 'shares/side-histories.html.haml'
    - if %w[user_session new_user_registration].any? { |name| current_page?(send("#{name}_path")) }
      %header
        .header_container
          .header_container.global_menu
            .global_menu.f_left
            = link_to "/" do
              %img{alt: "Cookpad", src: "https://app-assets.cpcdn.com/identity/assets/header_logo@2x-da9684baee638528a759cfee19839ba657e6b93ebef3d74b8265eb3b3ab65a6f.png", width: "92", height: "25"}
    - else
      %header
        .header_container
          .header_container.global_menu
            .global_menu.f_left サービス一覧
            .global_menu.f_right
              %ul.user_menu.list_inline
                %li.ps_link プレミアムサービス
                - if user_signed_in?
                  %li.user_name.user_function_link
                    = link_to user_path(id: current_user.id) do
                      = current_user.name
                  %li.notification お知らせ
                  %li.config
                    #user_menu_config
                      %img{class: "user_function_link", alt: "設定", src: "https://assets.cpcdn.com/assets/global/header_config.png?f63fccfc568cc03db8b0d45072cf9b6550df024e4ef8c36cefbcb0fa3626bc0c"}
                      #setting_tip{style: "display: none;"} 設定
                - else
                  %li.user_name.user_function_link
                    = link_to new_user_registration_path do
                      %span ユーザー登録
                  %li.config.user_function_link
                    = link_to new_user_session_path do
                      %span ログイン
              - if user_signed_in?
                .config_dropdown_menu{style: "display: none;"}
                  %ul
                    %li
                      = link_to edit_user_path(id: current_user.id) do
                        %span 登録情報
                    %li
                      = link_to "/" do
                        %span ヘルプ
                    %li
                      = link_to destroy_user_session_path do
                        %span ログアウト
        = render 'shares/inner-header.html.haml'
    = yield

    %footer
      = render 'shares/mega-footer.html.haml'
